<script type="text/javascript" src="/javascripts/users/profil/profilUsers.js" ></script>
<div id="content" class="clearfix">
<section id="left">
    {{#infoprofil}}
            <div id="userStats" class="clearfix">
                <div class="pic">
                    <a href="#"><img src="/images/users/{{utilisateur_id}}/{{utilisateur_avatar}}" width="150" height="150"/></a>
                </div>
                
                <div class="data">
                    <h1 class="profilh1">{{utilisateur_prenom}} {{utilisateur_nom}} (Id: {{utilisateur_id}})</h1>
                    <h3 class="profilh3">{{filiere_libelle}}</h3>
                    <h4 class="profilh4">{{ecole_libelle}}, {{ecole_ville}}</h4>
                    <div class="socialMediaLinks">
                        <a href="http://www.google.fr" rel="me" target="_blank"><img src="images/facebook.png" alt="@jakerocheleau" /></a>
                        <a href="http://twitter.com/jakerocheleau" rel="me" target="_blank"><img src="images/twitter.png" /></a>
                    </div>
                    <div class="sep"></div>
                    <ul class="numbers clearfix">
                        <li>Cours Fini<strong id="cptCours2">17</strong></li>
                        <li>Amis<strong id="cptFriends2">25</strong></li>
                        <li class="nobrdr">Test<strong>127</strong></li>
                    </ul>
                </div>
            </div>
            
            <h1>About Me:</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <h1>Mon école</h1>
            <p>{{ecole_libelle}} - {{ecole_ville}} </p>
            <p>{{ecole_adresse}}, {{ecole_cp}} </p>
           

            <h1>Mon cursus</h1>
            <p>{{filiere_libelle}}</p>
            
        </section>
        {{/infoprofil}}
        <section id="right">
            <div class="gcontent">
                <div class="head"><h1 id='leftdiv'>Cours terminés</h1><h1 id="cptcours"></h1></div>
                <div class="boxy">
                    
                    <div id="coursCount">
                        
                    </div>
                    
                    <!--<span><a href="#">See all…</a></span>-->
                </div>
            </div>
            
            <div class="gcontent">
                <div class="head"><h1>Friends List</h1></div>
                <div class="boxy">
                    <p id='cptFriends'></p>
                    
                    <div id="friendsCount" class="friendslist clearfix">
                    </div>
                    
                    <span><a href="#">See all...</a></span>
                </div>
            </div>
        </section>
</div>